@model IEnumerable<car4you.Models.Combustivel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.designacao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.designacao)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IDdCOMBUSTIVEL">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IDdCOMBUSTIVEL">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IDdCOMBUSTIVEL">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
